.main-menu a {
  text-decoration: none;
}

.header-link a {
  text-decoration: none;
}

.header-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;

  .progress-ring {
    font-size: 12px;

    circle {
      transition: stroke-dashoffset 0.35s;
      transform: rotate(-90deg);
      transform-origin: 50% 50%;
    }
  }
}
