.spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &.loading {
    z-index: 100;
    background: rgba(255, 255, 255, 0.5);
  }
}
